body {
    font-family: "Helvetica", "Arial", sans-serif;
}

/* Contains all of our content (except footer) */
.overall {
    padding-top: 2em;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

/* Content above the list of channels - holds title and controls */
.top {
    width: 100%;
    background-color: darkseagreen;
}

.top h1 {
    font-size: 16pt;
    padding-top: 0.5em;
    text-align: center;
}

.top input {
    font-size: 10pt;
    margin-left: 1em;
    margin-bottom: 1em;
}

/* The list of channels */
.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 300px;
}

/* Style for each channel */
.channel {
    min-width: 12em;
    height: 4em;
    flex: 1;
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid white;

}

.channel.offline {
    background-color: lightgrey;
    color: slategrey;
}

.channel.online {
    background-color: aqua;
}

/* Components of each channel */
.channel-left {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.channel-logo {
    height: 3em;
    width: 3em;
}
.channel-right {
    padding-left: 1em;
}


.footer {
    padding-top: 10em;
    font-size: 8pt;
    text-align: center;
}